*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(team_bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.team h2 {
    color: white;
    padding: 20px;
    margin: 10px;
    font-size: 60px;
    position: relative;
}

.container .card {
    position: relative;;
    width: 300px;
    height: 400px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.container .card .content {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .content .imgBox {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .card .content .contentBox h3 {
    color: white;
    margin: 20px 0 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1em;
}

.container .card .content .contentBox h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.container .card .sci {
    position: absolute;
    display: flex;
    bottom: 50px;
}

.container .card .sci li {
    margin: 0 10px;
    list-style-type: none;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}

.container .card:hover .sci li {
    opacity: 1;
    transform: translateY(0px);
}

.container .card .sci li a {
    font-size: 24px;
    color: white;
}

.card:hover {
    background: linear-gradient(#05814e, #4f1c74, rgb(111, 28, 28));
}
